@import url("./fonts.css");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
    font-weight: 400;
    line-height: 2.8;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
     font-family: "Inter", sans-serif;
}


ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-fuild {
    display: block;
    max-width: 100%;
    height: auto;
}


.title{
    font-family: 'heathergreenregular';
}
